/1º WORK
/1º WORK.zip
/AMIGA
/APRESENTAR NA CULMINANCIA
/brainfuck.bf
/Brute_logger.py
/build
/calcs
/Calc_gui.py
/conversor_bin
/corona
/dist
/FIGHT GAME
/GAME COMPILADO.zip
/game-tec
/game-tec-Backup.zip
/genes
/jump_project
/kaique
/madame
/meu site
/pai
/platamorf-game-py
/probabilidade_moeda
/projeto-glass-html5
/projeto-glass-html5.zip
/Shooter-main
/simple_calc.py
/sistema_ecxel
/sketch_jun15a
/snake.spec
/snake_terminal
/son_characteristics.txt
/Sophia-BOT
/sus_calc_kivy
/trabalho covas
/tradutor_morse
/urna
/urna + simples
/WeCode
/wppBot
/XOTA GAME COMPILADO.zip
/XOTA GAME.zip